<h1>Summary Page</h1>
<%= link_to 'New expense', new_expense_path %>
<%= link_to 'New category', new_category_path %>
<% if @expenses.present? %>
  <table>
    <tr>
      <td>Amount</td>
      <td>Category</td>
      <td>Currency</td>
      <td>Date</td>
      <td>Comment</td>
      <td></td>
      <td></td>
    </tr>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %></td>
        <td><%= expense.category&.name || '(без категории)' %></td>
        <td><%= expense.currency %></td>
        <td><%= expense.date.to_formatted_s(:short) %></td>
        <td><%= expense.description&.truncate(30) %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense.id) %></td>
        <td><%= link_to 'Remove', expense_path(expense.id), data: { turbo_method: :delete } %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Пожалуйста, добавьте свои расходы.</p>
<% end %>
